@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html
body {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(148, 143, 143, 0.37);
}
/* test  Font size classes */
.font-small {
  font-size: 14px;
}

.font-medium {
  font-size: 25px;
}

.font-large {
  font-size: 58px;
}

.font-xlarge {
  font-size: 30px;
}

.font-xxlarge {
  font-size: 40px;
}
/*End test  Font size classes */

/***** index-html-css *****/
* {
  box-sizing: border-box;
}
/***** Video Background *****/ 
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1; /* Set the video to appear behind other elements */
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.705);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.content h1 {
  font-size: 50px;
}

.content p {
  font-size: 25px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 14px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
/***** End Section *****/

/***** Navigation-styles *****/
.navbar {
  font-family: "Roboto Flex", sans-serif;
  background: black;
  opacity: 0.8;
  font-weight: 600;
}

.navbar-brand {
  font-family: "Roboto Flex", sans-serif;
  font-size: 80px; /* Font size for brand */
  color: #0056b3; /* Font color */
  letter-spacing: .25rem; 
  padding-right: 15px;
  font-weight: 600;
}

.nav-link{
  font-size: 30px; /* Font size for links */
  color: white; /* Font color */

}
.nav-link:hover{
  font-size: 50px; /* Font size for links */
  color: #ffffff; /* Font color on hover */
}

.navbar-toggler {
  border-color: #d6d2c4; /* Border color for toggler */
}

.navbar-toggler-icon {
  background-color: #141413; /* Color for toggler icon */
}
/* media query's for different dimensions */
@media screen and (max-width: 400px){
  .navbar-toggler {
    display: none !important;
  }
}

@media screen and (min-width: 950px){
  .navbar-toggler-two {
    display: none !important;
  }
}

/* TODO: research and test to find how to do this in landscape  */ 
/* 
@media screen and (max-width: 400px) and (orientation: landscape) {
  .navbar-toggler {
    display: none !important;
  }
}
*/

.navbar-nav .nav-link.active {
  color: #ffffff; /* Font color when active */
}

.navbar-brand:hover {
  color: #d6d2c4; /* Font color on hover */
} 

/***** End Section *****/
/*****Footer-styles-css *****/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.btn-custom-telegram {
  background-color: #0056b3;
  border-color: #0088cc;
  color: white;
}

.btn-custom-instagram {
  background-color: #0056b3;
  border-color: #0088cc;
  color: white;
}
/***** End Section *****/
/***** Carousel item classes *****/
.carousel-item {
  height: 50vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item-orchidos {
  background-image: url('../img/orchidos.jpg');
}

.carousel-item-kactus {
  background-image: url('../img/kactus.jpg');
}

.carousel-item-google {
  background-image: url('../img/google.jpg');
}

.carousel-caption {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 10px;
  padding: 20px; /* Add padding to the caption */
}

.carousel-caption h5 {
  font-size: 2rem;
  margin-bottom: 10px; /* Add margin to separate heading and paragraph */
}

.carousel-caption p {
  font-size: 1.2rem;
  margin-bottom: 0; /* Remove default margin to avoid extra space */
}

.py-5 {
  font-family: "Roboto Flex", sans-serif;
  padding-top: 1rem !important; /* Adjusted top padding */
  padding-bottom: 5rem !important;
}

.carousel-control-next-icon {
  background-image: url('../img/right-arrow.png');
}
.carousel-control-prev-icon {
  background-image: url('../img/left-arrow.png');
}

/***** End Section *****/
/***** modal styles *****/  

.indexmodal {
    display: inline-block;
    width: 200px;
    font-size: 1rem; /* Button font size */
    padding: 14px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .indexmodal:hover {
    background-color: #0056b3; /* Darker background on hover */
  }
  
  @media (max-width: 768px) {
    .font-xlarge {
      font-size: 1rem; /* Adjust font size for smaller screens */
    }
  
    .indexmodal {
      font-size: 1rem; /* Adjust button font size for smaller screens */
      padding: 8px 16px; /* Adjust padding for smaller screens */
    }
  }
  /* Modal CSS */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #d6d2c4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  
/***** End Section *****/
/***** Sales info styles *****/  
section.pricing.py-5 {
  background: #007bff00;
  font-family: 'Roboto Flex';
  padding-top: 2rem !important; /* Adjusted top padding */
  padding-bottom: 0.5rem !important;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
  /* color: aqua; */
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}
.lead {
  font-size: 1.50rem;
  font-weight: 500;
}
h1.fw-bold.sales {
  font-family: 'Roboto Flex';
  -webkit-font-smoothing: auto;
  color: #0056b3
}
h5.card-title.text-muted-main.text-uppercase.text-center {
  font-family: 'Roboto Flex';
  -webkit-font-smoothing: auto;
  color: #0057b39a
}

.py-5.sales-page
{
  background-color: #d6d2c4;
}
/***** End Section *****/

/***** Sales Product card styles *****/
 .card.sales {
  margin: 60px auto;
  max-width: 500px;
}

.card.sales img {
  width: 100%;
  height: auto;
  padding-top: 20px; /* Add padding to the top of the picture */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .navbar-brand,
  .card-title,
  .card-text,
  .btn {
      font-size: 0.9rem;
  }

  .card.sales {
      margin: 20px auto;
      max-width: 100%;
  }
}

@media (min-width: 800px) and (max-width: 990px) {
  .card.sales {
      max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .card.sales {
      max-width: 100%;
      min-height: 100%;
  }

  #productImage {
    padding-top: 40px;
      max-width: 80%;
  }

  .card-body.sales {
    max-width: 70%;
  }

  .card-body.sales,
  #productImage {
    display: inline-block;
    vertical-align: top;
  }

  .card-body.sales {
    padding: 10px;
  }

  .card-title.sales {
    padding-top: 20px;
    font-size: 1.5rem;
  }
/***** End Section *****/
/***** saleskatstyles *****/
#sales{
background: url('../img/sales-bg.jpg') no-repeat center center fixed; /* URL to your background image */
background-size: cover;
}
}
/***** End Section *****/
/***** Gallery-styles-css *****/
#photos {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 4px;
}

#photos .column {
  flex: 1 0 16.66%; /* 100% / 6 = 16.66% */
  max-width: 16.66%;
  padding: 15px;
}

#photos .column img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 15px;
}

/* Responsive layout - makes the images stack in rows of two */
@media screen and (max-width: 899px) {
  #photos .column {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the images stack on top of each other */
@media screen and (max-width: 599px) {
  #photos .column {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

#gallery-bg {
  background-color: #000000;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #0056b3;
  padding-top: 10px;
}

.container.gallery-con {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/* Contact Us Section */
.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh; /* Ensure the section takes full viewport height */
}

.contact-us .card {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visual appearance */
}

/* Make contact section scrollable on devices between 780px and 1180px */
@media screen and (min-width: 780px) and (max-width: 1180px) {
  .contact-us {
    overflow-y: auto;
    max-height: 40vh; /* Adjust as necessary */
  }

  .contact-us .card {
    margin-left: 15%; /* Adjust margin on the left as needed to move further to the right */
  }
}

@media screen and (min-width: 1180px) {
  .contact-us .card {
    margin-left: auto; /* Auto margin on the left to push the card to the right */
    margin-right: auto; /* Center the card horizontally */
  }
}
.lead-contact {
  font-size: 1.50rem;
  font-weight: 500;
  font-family: 'Roboto Flex';
  text-align: center;
}
  .contactus {
  font-family: 'Roboto Flex';
  text-align: center;
  -webkit-font-smoothing: auto;
  color: #0056b3
}
/***** End Section *****/